In [7]:
'''
This a test documentation for creating and loading tables to sales_database
'''

import pandas as pd
import numpy as np
import requests
import json
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

# table 'dim_date_times'
# db_engine = DatabaseConnector()
# conn = DatabaseConnector().init_db_engine()
# ext = DataExtractor(conn)
# db = ext.read_json_data("https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json")
# db.head(1000)
# a = DataCleaning(db)
# date_times = a.clean_date_data()
# date_times.head(2)

# new_engine = DatabaseConnector()
# new_engine.upload_to_db(date_times, 'dim_date_times')

In [20]:
import pandas as pd
import numpy as np
import requests
import json
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

# df = pd.read_json("https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json")
# df.head(1)
# # df.info()

response = requests.get("https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json")
data = json.loads(response.text)
df = pd.DataFrame(data)
df.head(5)

  timestamp month  year day time_period                             date_uuid
0  22:00:06     9  2012  19     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad
1  22:44:06     2  1997  10     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa
2  10:05:37     4  1994  15     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3  17:29:27    11  2001   6      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4  22:40:33    12  2015  31     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44

In [2]:
import requests
import pandas as pd
import numpy as np
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

headers = {
    "x-api-key": "yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX"
}

# endpoint = "https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/"
# responses = []
# for store_number in range(5):
#     store_endpoint = f"{endpoint}{store_number}"
#     response = requests.get(store_endpoint, headers=headers)
#     responses.append(response.json())

# stores = pd.DataFrame(responses)
# stores.head()

db_engine3 = DatabaseConnector().init_db_engine()
extractor = DataExtractor(db_engine3)
data = extractor.retrieve_stores_data("https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/")
a = DataCleaning(data)
stores_table = a.called_clean_store_data()
stores_table.head(10)

new_engine = DatabaseConnector()
new_engine.upload_to_db(stores_table, 'dim_store_details')

In [2]:
import pandas as pd
import tabula
import requests
from sqlalchemy import create_engine
from database_utils import DatabaseConnector
from data_extraction import DataExtractor

class DataCleaning:
    def __init__(self, userdata):
        self.user_data = userdata

    def clean_user_data(self):
        self.user_data.dropna(axis=0, how='all', inplace = True)  
        self.user_data['date_of_birth'] = pd.to_datetime(self.user_data['date_of_birth'], errors='coerce')
        regex_expression = '^(?:(?:\(?(?:0(?:0|11)\)?[\s-]?\(?|\+)44\)?[\s-]?(?:\(?0\)?[\s-]?)?)|(?:\(?0))(?:(?:\d{5}\)?[\s-]?\d{4,5})|(?:\d{4}\)?[\s-]?(?:\d{5}|\d{3}[\s-]?\d{3}))|(?:\d{3}\)?[\s-]?\d{3}[\s-]?\d{3,4})|(?:\d{2}\)?[\s-]?\d{4}[\s-]?\d{4}))(?:[\s-]?(?:x|ext\.?|\#)\d{3,4})?$' #Our regular expression to match
        self.user_data.loc[~self.user_data['phone_number'].str.match(regex_expression), 'phone_number'] = np.nan # For every row  where the Phone column does not match our regular expression, replace the value with NaN
        self.user_data['join_date'] = pd.to_datetime(self.user_data['join_date'], errors='coerce')       
        self.user_data['address'] = self.user_data['address'].str.replace('/', '')
        # self.user_data.Age.astype('int64')
        return self.user_data
    
    def clean_card_data(self):
        self.user_data.dropna(how='all', inplace = True) #removes rows that contain missing value.
        self.user_data.dropna(axis=0, thresh=4) # drops rows with less than 4 non-missing values
        self.user_data.drop_duplicates() #drop duplicate records 
        return self.user_data


# table 'dim_card_details'
db_engine2 = DatabaseConnector().init_db_engine()
extractor2 = DataExtractor(db_engine2)
new_table = extractor2.retrieve_pdf_data("https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf")
data_cleaner = DataCleaning(new_table)
cleaned_table = data_cleaner.clean_card_data()
cleaned_table.head()

# new_engine = DatabaseConnector()
# new_engine.upload_to_db(cleaned_table, 'dim_card_details')

'pages' argument isn't specified.Will extract only from page 1 by default.

In [4]:
import pandas as pd
import numpy as np
from database_utils import DatabaseConnector
from data_extraction import DataExtractor

class DataCleaning:
    def __init__(self, userdata):
        self.user_data = userdata

    def clean_user_data(self):
        self.user_data.dropna(axis=0, how='all', inplace = True)  

        self.user_data['date_of_birth'] = pd.to_datetime(self.user_data['date_of_birth'], errors='coerce')

        regex_expression = '^(?:(?:\(?(?:0(?:0|11)\)?[\s-]?\(?|\+)44\)?[\s-]?(?:\(?0\)?[\s-]?)?)|(?:\(?0))(?:(?:\d{5}\)?[\s-]?\d{4,5})|(?:\d{4}\)?[\s-]?(?:\d{5}|\d{3}[\s-]?\d{3}))|(?:\d{3}\)?[\s-]?\d{3}[\s-]?\d{3,4})|(?:\d{2}\)?[\s-]?\d{4}[\s-]?\d{4}))(?:[\s-]?(?:x|ext\.?|\#)\d{3,4})?$' #Our regular expression to match
        self.user_data.loc[~self.user_data['phone_number'].str.match(regex_expression), 'phone_number'] = np.nan # For every row  where the Phone column does not match our regular expression, replace the value with NaN

        self.user_data['join_date'] = pd.to_datetime(self.user_data['join_date'], errors='coerce')
        self.user_data['address'] = self.user_data['address'].str.replace('/', '')
        # self.user_data.user_uuid.astype('int64')

        # self.user_data.info()
        return self.user_data


db_engine = DatabaseConnector().init_db_engine()
extractor = DataExtractor(db_engine)
table_data = extractor.read_rds_table('legacy_users')
a = DataCleaning(table_data)
updated_table = a.clean_user_data()
updated_table.head(2)
# updated_table.info()
# print(updated_table['user_uuid'])


# new_engine = DatabaseConnector()
# new_engine.upload_to_db(updated_table, 'dim_users')

In [32]:
import yaml
from sqlalchemy import create_engine
from sqlalchemy import text

class DatabaseConnector:
    def __init__(self):
        self.yaml_file_path = '/Users/sg/DS/MRDC/db_creds.yaml'
        self.credentials = self.read_db_creds()
        self.engine = self.init_db_engine()

    def read_db_creds(self):
        with open(self.yaml_file_path, 'r') as file:
            return yaml.safe_load(file)
        
    def init_db_engine(self):
        start_engine = create_engine(f"postgresql+psycopg2://{self.credentials['RDS_USER']}:{self.credentials['RDS_PASSWORD']}@{self.credentials['RDS_HOST']}:{self.credentials['RDS_PORT']}/{self.credentials['RDS_DATABASE']}")
        return start_engine

    def list_db_tables(self):
        with self.engine.connect() as conn:
            fetch_tables = text("SELECT table_name FROM information_schema.tables WHERE table_schema='public'")
            rows = conn.execute(fetch_tables).fetchall()
            for row in rows:
                print(row)

a = DatabaseConnector()
print(a.read_db_creds())
print(a.init_db_engine())
print(a.list_db_tables())

{'RDS_HOST': 'data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com', 'RDS_PASSWORD': 'AiCore2022', 'RDS_USER': 'aicore_admin', 'RDS_DATABASE': 'postgres', 'RDS_PORT': 5432}
Engine(postgresql+psycopg2://aicore_admin:***@data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com:5432/postgres)
('legacy_store_details',)
('legacy_users',)
('orders_table',)
None

In [33]:
import pandas as pd
from sqlalchemy import create_engine
from database_utils import DatabaseConnector

db_engine = DatabaseConnector()
database_connector = db_engine.init_db_engine()
# tables = db_engine.list_db_tables()

class DataExtractor:
    def __init__(self, database_connector):
        self.db_conn = database_connector

    def read_rds_table(self, table_name):
        with self.db_conn.connect() as conn:
            data = pd.read_sql_table(table_name, conn)
            # data.head(5)
            # data.info()
            # print(type(data))
            return data
            

a = DataExtractor(database_connector)
# print(a.read_rds_table('legacy_users'))
new = a.read_rds_table('legacy_users')
print(new['phone_number'])

0         +49(0) 047905356
1          (0161) 496 0674
2        +44(0)121 4960340
3          (0306) 999 0871
4            0121 496 0225
               ...
15315      +44(0)292018946
15316     +44(0)1144960977
15317          02984 08192
15318         239.711.3836
15319     +44(0)1314960870
Name: phone_number, Length: 15320, dtype: object